/* jumbotron */
.banner {
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(../img-tentang/header-tentang-prodamas.png);
    /* background-size: cover; */
    background-position: center;
    text-align: left;
    text-shadow: 5px 5px 10px #4d148c;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    padding-top: 15%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

/* dropdown */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
  float: left;
}

li ul {
  display: none;
}

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

li:hover > ul {
  display: block;
  position: absolute;
}

.menu:hover{
  background-color: 	rgba(231, 146, 67, 0.9);
}

li:hover li {
  float: none;
}

.main-navigation li ul li {
  border-top: 0;
}


ul ul ul {
  left: 100%;
  top: 0;
  
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  
}

ul:after {
  clear: both;
}

/* end dropdown */

.kartukiri{
  max-width: auto;
}

.kartukanan{
  max-width: auto;
  margin-left: auto;
}

table, th, td{
  border: 1px solid rgb(146, 145, 145);
  border-collapse: collapse;
  text-align: center;
}

.isi h5{
  font-family: 'Inter', sans-serif;
  font-size: large;
}

.isi p{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}



/* .item {
  float: left;
  width: 50%;
  height: 200px;
  border-radius: 20px;
  flex: 1;
}

.item h1 {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 50px;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20pt;
}

.item p {
  padding-top: 40px;
  padding-left: 110px;
  padding-right: 50px;
  color: black;
  font-weight: bold;
  font-size: large;
}

.item img {
  border-radius: 20px;
  height: 250px;
  width: 100%;
  max-width: auto;
} */
